extends layout-admin
block content 
		#page-wrapper.categorias
			.row
				.col-lg-12
					h1.page-header Editar categoria
				// /.col-lg-12
			// /.row
			.row
				.col-lg-6
						// /.panel-heading
						.panel.panel-default
							.panel-heading Modifica los campos
							.panel-body
								- var nombre= categoria["nombre"]
								- var url= categoria["url"]
								form#categoria(name="editar-categoria", method="post")
									.form-group
										label Nombre
										input.form-control(placeholder="Nombre",type="text" name="nombre" value="#{nombre}")
									.form-group
										label Url
										input.form-control(placeholder="Friendly URL",type="text" name="url" value="#{url}")
									.form-group
										button#formCat.btn.btn-success(type='submit') Grabar
										a.btn.btn-danger(href='/admin/categorias') Cancelar
							.errorMessage.oculto
								p Los siguientes errores han ocurrido:
								ul 
